<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="{{ url_for('static', filename='components/vis/dist/vis.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/vis/dist/vis.css') }}">

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.6/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.6/umd/react-dom.development.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Telegram Graph</title>
</head>
<body>
<div id='root'></div>
<div id="graph"></div>


<div style="z-index: 1000; position: absolute; top: 5em; right: 5em; pointer-events: none">

    Start date time: <i id="date-time"></i>
    <br>
    Depth: <i id="depth"></i>
    <br>
    Node list: <i id="node-count-left">0</i>/<i id="node-count-right">0</i>

    <ul id="node-list"></ul>
</div>

<script type="module" src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>